{% extends "base.html" %}

{% block title %}
StudySync-Assignments
{% endblock %}

{% block content %}

<section class="hero">
    <h1>My Assignments</h1>
    <p>Keep track of your assignments.</p>

    <form method="POST">

        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="subject" placeholder="Subject" required>
        <input type="date" name="due_date" required>
        <button class="btn">Add Assignment</button>

    </form>

    <hr>
    <h2>Your Assignments</h2>

    {% if assignments %}
        {% for assignment in assignments %}
        <div class="card">
            <h3>{{ assignment[2] }}</h3>
            <p><strong>Subject:</strong> {{ assignment[3] }}</p>
            <p><strong>Due Date:</strong> {{ assignment[4] }}</p>
            <p><strong>Status:</strong> {{ assignment[5] }}</p>
            <a href="/edit_assignment/{{ assignment[0] }}" class="btn">Edit</a>
            <form method="POST" action="/delete_assignment/{{ assignment[0] }}">
                <button class="btn">Delete</button>
            </form>
            <form action="/toggle_assignment/{{ assignment[0] }}" method="POST">
                {% if assignment[5] == "Pending" %}
                    <button class="btn">✓ Mark as Completed</button>
                {% else %}
                    <button class="btn">↺ Mark as Pending</button>
                {% endif %}
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>You haven't created any assignments yet.</p>
    {% endif %}
</section>

{% endblock %}